# General
tqdm
ipykernel
jupyterlab

# Scientific computing
scipy
numpy

# ML/DL
scikit-learn

# Data Processing
pyarrow
pandas
imblearn

# Data Validation
great-expectations

# Data Visualization
matplotlib
seaborn
pandas-profiling    # generates a detailed EDA report with a few lines

# Object Serialization
joblib
onnx